$sprite-transition-duration: 0.3s !default;
$sprite-transition-time-function: ease !default;
$sprite-transition-delay: 0s !default;

.sprite {
  display: inline-block;
  background-position: top;
  background-repeat: no-repeat;
}

.sprite > .sprite__hover,
.sprite--pseudo:before {
  width: 100%;
  height: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: inherit;
  opacity: 0;
  filter: alpha(opacity=0); /* For IE8 and earlier */
  display: block;
}

.sprite--pseudo:before {
  content: " ";
}

.sprite:hover > .sprite__hover,
.sprite--pseudo:hover:before {
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

.sprite--inverted {
  background-position: bottom;
}

.sprite--inverted > .sprite__hover,
.sprite--pseudo.sprite--inverted:before {
  background-position: top;
}

.sprite--fade {
  .sprite__hover,
  &.sprite--pseudo:before {
    transition:opacity $sprite-transition-duration $sprite-transition-time-function $sprite-transition-delay;
  }
}

.sprite-parent:hover {
  .sprite__hover,
  .sprite--pseudo:before {
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
  }
}
